<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="network.perun.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="PerunNetwork">

        <!-- You don't need to include android:required="false" if your app's
             minSdkVersion is 28 or higher. -->
        <uses-library android:name="android.test.runner"
            android:required="false" />
        <!-- For both of these declarations, you don't need to include
             android:required="false" if your app's minSdkVersion is 28
             or higher. -->
        <uses-library android:name="android.test.base"
            android:required="false" />
        <uses-library android:name="android.test.mock"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="PerunNetwork" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
